/* CSS Stylesheet */

/******************************************
Style Reset
******************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/******************************************
sitewide
******************************************/

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background: rgb(255,255,255);
    font-family: 'Lato', sans-serif;
    color: rgb(62,57,59);
}

::selection {
  background: rgb(200,200,200); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgb(200,200,200); /* Gecko Browsers */
}
::-webkit-selection {
  background: rgb(200,200,200); /* Gecko Browsers */
}

/******************************************
nav
******************************************/

header.scroll {
  animation-name: pageScroll;
  animation-duration: 1.5s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes pageScroll {
  from {padding-top: 12vw;}
  to {padding-top: 0vw;}
}

div.greeting {
    width: 100vw;
    height: 100px;
}

a.welcome {
  display: inline-block;
  font-size: 10pt;
  font-weight: 700;
  float: right;
  margin: 40px 3vw 0px 3vw;
  padding: 40px 2vw 0px 2vw;
  height: auto;
}

a.logo {
  display: inline-block;
  text-decoration: none;
  transition: color 0.5s ease;
  font-size: 20pt;
  font-weight: 700;
  padding: 80px 5vw 40px 5vw;
  line-height: 130%;
  height: auto;
  color: rgb(187,187,187);
}

a.logo.morning:hover {
  color: rgb(255,170,225);
  transition: color 0.5s ease;
}

a.logo.afternoon:hover {
  /* color: rgb(135,187,244); */
  color: rgb(19,72,28);
  transition: color 0.5s ease;
}

a.logo.evening:hover {
  color: rgb(211,168,54);
  transition: color 0.5s ease;
}

.morning{
  color: rgb(255,170,225);
}

.afternoon{
  /* color: rgb(135,187,244); */
  color: rgb(19,72,28);
}

.evening{
  color: rgb(211,168,54);
}

@media only screen and (min-width: 750px) {
  a.logo {
    font-size: 30pt;
  }
}

/******************************************
body
******************************************/

p.statement {
  font-size: 20pt;
  font-weight: bold;
  width: 75vw;
  padding: 40px 0vw 80px 5vw;
  line-height: 130%;
  height: auto;
}

h1 {
  padding-left: 5vw;
  font-size: 12pt;
  font-weight: 900;
  line-height: 130%;
  height: auto;
}

section {
  padding: 50px 0vw 50px 0px;
}

.container {
  position: relative;
  text-align: center;
  width: 90vw;
  height: auto;
  overflow: hidden;
  margin: 0px 0px 50px 5vw;
}

img.cover {
  object-fit: cover;
  width: 100%;
  height: 325px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 90vw;
  height: 325px;
  opacity: 0.4;
  background-color: rgb(0,0,0);
  transition: opacity 1.5s ease;
}

h2 {
  font-size: 10pt;
  font-weight: 600;
  color: rgb(255,255,255);
  line-height: 120%;
  position: absolute;
  text-align: left;
}

.year {
  top: 25px;
  left: 25px;
  opacity: 1;
  transition: opacity 1.5s ease;
}

.type {
  top: 25px;
  right: 25px;
  opacity: 1;
  transition: opacity 1.5s ease;
}

.covertitle {
  position: absolute;
  bottom: 25px;
  left: 25px;
  right: 25px;
}

div.color1 {
  background-color: rgb(12,7,9);
}

div.color2 {
  background-color: rgb(12,7,9);
}

div.color3 {
  background-color: rgb(12,7,9);
}

div.container2 {
  text-align: left;
  padding-left: 5vw;
}

div.experience {
  display: inline-block;
  position: relative;
  text-align: left;
  padding: 30px 0vw;
  width: 75vw;
}

h3.experience {
  display: inline-block;
  font-size: 10pt;
  font-weight: 600;
  padding-bottom: 15px;
}

p.experience {
  font-size: 10pt;
  font-weight: 300;
  line-height: 140%;
}

.experience p.date {
  font-weight: 300;
  display: inline-block;
  position: absolute;
  font-size: 10pt;
  left: -65px;
  top: 30px;
  color: rgb(62,57,59);
  opacity: 0;
}

img.love {
  display: block;
  width: 90vw;
  height: auto;
  padding: 5vw 0vw 0vw 5vw;
}

div.container3 {
  text-align: center;
  padding: 50px 0px 0px 0px;
}

.links {
  padding-bottom: 50px;
}

a.contact {
  display: inline-block;
  font-size: 10pt;
  font-weight: 700;
  float: right;
  margin: 5vh 3vw 5vh 3vw;
  padding: 5vh 2vw 5vh 2vw;
  height: auto;
}

a.contact.morning:hover {
  color: rgb(255,170,225);
  transition: 0.5s ease;
}

a.contact.afternoon:hover {
  color: rgb(19,72,28);
  transition: 0.5s ease;
}

a.contact.evening:hover {
  color: rgb(211,168,54);
  transition: 0.5s ease;
}

a.footer {
  position: relative;
  float: none;
  text-decoration: underline;
  text-decoration: none;
  margin: 0px 0px;
  padding: 10px 10px;
  color: rgb(62,57,59);
}

@media only screen and (min-width: 750px) {
  a.logo {
    padding-top: 100px;
  }

  p.statement {
    font-size: 30pt;
    width: 65vw;
    padding: 40px 0vw 80px 5vw;
    line-height: 130%;
    height: auto;
  }

  img.cover {
    height: 650px
  }

  .overlay {
    opacity: 0.5;
    height: 650px
  }

  .year {
    opacity: 0;
  }

  .type {
    opacity: 0;
  }

  .container {
    margin: 0px 0px 100px 5vw;
  }

  .container:hover .overlay {
    opacity: 0.1;
    transition: opacity 1.5s ease;
  }

  .container:hover .year {
    opacity: 1;
    transition: opacity 1.5s ease;
  }

  .container:hover .type {
    opacity: 1;
    transition: opacity 1.5s ease;
  }

  .experience p.date {
    opacity: 1;
    font-size: 12pt;
  }

  h2 {
    font-size: 12pt;
  }

  section {
    padding: 100px 0vw 100px 0px;
  }

  div.container2 {
    text-align: center;
  }

  div.experience {
    width: 400px;
  }

  h3.experience {
    font-size: 12pt;
  }

  p.experience {
    font-size: 12pt;
  }


}

/******************************************
footer
******************************************/

div.container4 {
  text-align: center;
}

div.credits p {
  font-size: 10pt;
  font-weight: 200;
  color: rgb(187,187,187);
  padding: 0px 0px 40px 0px;
  margin: 0px 0px;
}

@media only screen and (min-width: 750px) {
  div.credits p {
    padding-bottom: 80px;
  }
}

/******************************************
case studies
******************************************/

a.back {
  position: fixed;
  right: 0px;
  float: right;
  display: inline-block;
  font-size: 10pt;
  font-weight: 700;
  margin: 50px 3vw 5vh 3vw;
  padding: 50px 2vw 5vh 2vw;
  color: rgb(62,57,59);
  text-decoration: none;
  transition: color 0.5s ease;
}

.title {
  font-size: 20pt;
  font-weight: 700;
  padding: 180px 20vw 40px 5vw;
  line-height: 130%;
  height: auto;
  color: rgb(187,187,187);
}

.subtitle {
  font-size: 20pt;
  font-weight: 700;
  padding: 40px 20vw 40px 5vw;
  line-height: 130%;
  height: auto;
}

.main {
  width: 80vw;
  padding: 40px 5vw 40px 5vw;
}

.section {
  padding: 0px 50vw 25px 5vw;
}

.text {
  display: block;
  clear: both;
  width: 80vw;
  padding: 0px 0px 0px 5vw;
  line-height: 160%;
  font-size: 13pt;
  color: rgb(118,118,118);
  font-weight: 400;
}

.embededLink {
  display: inline-block;
  width: auto;
  line-height: 160%;
  font-size: 13pt;
  color: rgb(118,118,118);
  font-weight: 400;
}

.nav {
  text-decoration: none;
  display: block;
  clear: both;
  width: 220px;
  padding: 0px 0px 0px 5vw;
  line-height: 160%;
  font-size: 13pt;
  color: rgb(118,118,118);
  font-weight: 400;
  transition: color 0.5s ease;
}

a.nav.morning:hover {
  color: rgb(255,170,225);
  transition: 0.5s ease;
}

a.nav.afternoon:hover {
  color: rgb(19,72,28);
  transition: 0.5s ease;
}

a.nav.evening:hover {
  color: rgb(211,168,54);
  transition: 0.5s ease;
}

.spacing {
  padding: 40px 0px 40px 0px;
}

.secondary {
  width: 70vw;
  padding: 0px 5vw 0px 5vw;
}

.primary {
  width: 80vw;
  padding: 0px 5vw 0px 5vw;
}

.mockup {
  width: 40vw;
  padding: 0px 5vw 0px 30vw;
}

h4 {
  padding: 0px 10vw 0px 5vw;
  width: 70vw;
  font-size: 30px;
  color: rgb(187,187,187);
  font-weight: 800;
}

.buildProcess {
  display: inline-block;
  float: left;
  padding: 0px 0px 0px 0px;
  line-height: 160%;
  font-size: 13pt;
  color: rgb(118,118,118);
  font-weight: 400;
}

.container5 {
  display: block;
  clear: both;
  width: 450px;
  padding: 0px 0px 0px 7vw;
}

@media only screen and (min-width: 750px) {
  .title {
    font-size: 30pt;
  }

  .subtitle {
    font-size: 30pt;
  }

  .spacing {
    padding: 75px 0px 75px 0px;
  }

  .mockup {
    width: 30vw;
    padding: 0px 5vw 0px 30vw;
  }

  h4 {
    font-size: 40px;
  }
}
